@font-face {
    font-family: 'garnett medium';
    src: url('../fonts/Garnett-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'garnett semibold';
    src: url('../fonts/Garnett-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'adelle';
    src: url('../fonts/adellesans-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none !important; 
}
:root {
    --backdrop: #f8fcfd;
    --primary-light: #f3ecff;
    --primary-light-hover: #eee4ff;
    --primary-saturated: rgba(139, 111, 254, 1);
    --primary-saturated-hover: #7257ea;
    --primary-dark: #332f4a;
    --light-green: #95F3D1;
    --a-link: #7257ea;
    --garnett-medium: 'garnett medium', 'helvetica', sans-serif;
    --garnett-semibold: 'garnett semibold', 'helvetica', sans-serif;
}
iframe, object, embed {
    border: none;
    width: 100%; 
}
textarea, input {
    -webkit-appearance: none; 
}
img {
    display: block;
    image-orientation: from-image;
}
.img-fluid {
    max-width: 100%;
}
body {
    background-color: #fff;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    font-style: normal;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    font-family: 'adelle', 'helvetica', sans-serif;
    overflow-x: hidden;
    padding-top: 100px;
}
a, a:hover, a:focus {
    transition: all .25s;
    text-decoration: none;
}
a:hover, a:focus {
    color: #7257ea;
}
button, button:hover {
    -webkit-transition: all .25s;
    transition: all .25s;
    outline: none;
    cursor: pointer;
}
ol, ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
blockquote,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'garnett medium', 'helvetica', sans-serif;
}
.purple-text {
    color: #6244E5;
}
.strike {
    text-decoration: line-through;
}
button, 
input[type=button], 
input[type=submit] {
    background-color: #8b6ffe;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    padding: 6px 12px;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid #5a32fe;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.bold {
    font-weight: 700;
}
.underline {
    text-decoration-line: underline;
}
.site-header {
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.site-header a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-family: 'garnett semibold', 'helvetica', sans-serif;
    font-size: 15px;
}
.site-header a:hover {
    text-decoration: none;
    color: var(--primary-saturated);
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1280px;
    padding: 12px 20px;
    margin: auto;
}
.site-header .logo-menu {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.site-header .site-logo {
    display: flex;
    align-items: center;
    flex: 0 1 120px;
    margin-right: var(--half-px);
}
.site-header .menu-nav,
.site-header .main-menu, 
.btn.contact {
    display: flex;
    align-items: center;
}
.site-header .main-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.site-header li {
    position: relative;
}
.site-header .main-menu li a {
    font-size: 15px;
    transition: color 0.25s;
    padding: 14px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-header .main-menu .menu-item-has-icon .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-header .main-menu .menu-item-icon {
    display: flex;
    margin-left: 8px;
    padding: 5px 8px;
    border-radius: 9999px;
    color: #8B6FFE;
    background: #ebe4f7;
}
.site-header .menu-item-icon svg {
    width: 20px;
    height: 20px;
    align-self: center;
}
.site-header .main-menu .purple-highlight-item {
    display: flex;
    justify-content: center;
}
.site-header .main-menu .purple-highlight-item a {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ebe4f7;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    color: #6244E5;
    border-radius: .5rem;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
}
.site-header .main-menu .purple-highlight-item a:hover {
    background-color: #7257EA;
    color: #fff;
}
.site-header .contact {
    color: #fff;
    background-color: var(--primary-saturated);
    border-radius: 3.75px;
    font-size: 15px;
    line-height: 1;
    padding: 13px 20px 14px;
    position: relative;
    margin-left: 16px;
    transition: background-color 0.25s, color 0.25s;
}
.site-header .contact:hover {
    background-color: var(--primary-saturated-hover);
    color: #fff;
}
.login-button {
    margin-left: 32px;
}
.mobmenu, 
.mobmenu:focus, 
.mobmenu:active, 
.mobmenu:visited {
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s, visibility 0.25s;
    background: var(--day);
    padding: 0 0 0 var(--px);
    height: 51px;
    top: 2px;
}
.mobmenu {
    display: none;
    align-items: center;
    justify-content: space-between;
}
.mobmenu .burger {
    position: relative;
    width: 20px;
    height: 16px;
    display: inline-block;
}
.mobmenu .burger:after {
    bottom: 0;
}
.mobmenu .burger:before {
    top: 0;
}
.mobmenu .burger span {
    top: 7px;
}
.mobmenu .burger:after, 
.mobmenu .burger:before, 
.mobmenu .burger span {
    content: '';
    height: 2px;
    width: 20px;
    position: absolute;
    background-color: #000;
    border-radius: 2px;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: transform 0.15s, visibility 0.15s, opacity 0.15s, top 0.15s, bottom 0.15s;
    transform-origin: center;
}

.concierge-section {
    background-color: #F8FCFD;
    padding: 30px 0 50px;
}
.content-wrap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.title-row .title-section {
    font-size: 40px;
}
.title-row .subtitle {
    font-size: 24px;
}

style="color: #6244e5;"


@media (min-width: 575px) {
    
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
   
}

@media (max-width: 1020px) {
    .site-header.is-active {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        align-items: flex-start;
    }
    .site-header.is-active .main-menu {
        opacity: 1;
        visibility: visible;
        padding: 10px 0;
    }
    .is-active .mobmenu .burger:after {
        transform: rotate(-45deg);
        bottom: 7px;
    }
    .is-active .mobmenu .burger:before {
        transform: rotate(45deg);
        top: 7px;
    }
    .is-active .mobmenu .burger span {
        opacity: 0;
        visibility: hidden;
    }
    .site-header .mobmenu {
        display: block;
        padding-left: 20px;
    }
    .site-header .contact, 
    .search-wrapper, 
    .site-header .mobmenu {
        z-index: 1000;
        position: relative;
    }
    .site-header .logo-menu {
        flex: 0 1 140px;
        position: relative;
        z-index: 1000;
    }
    .site-header .menu-wrap {
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .menu-nav {
        flex-direction: row-reverse;
    }
    .site-header .main-menu {
        display: flex;
        position: absolute;
        background: #fff;
        left: 8px;
        right: 8px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s, visibility 0.25s;
        z-index: 999;
        flex-direction: column;
        -webkit-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
        top: 78px;
        border-radius: 3px;
        justify-content: center;
    }
    .site-header .menu-nav ul {
        flex-direction: column;
        width: 100%;
        text-align: left;
        padding: 100px var(--px);
        margin: 0;
        overflow-y: scroll;
    }
    .site-header .main-menu li:first-of-type {
        border-top: 0;
    }
    .site-header .main-menu li {
        width: 100%;
        padding: 0;
    }
    .site-header .main-menu li a {
        color: #000;
        padding: 8px 16px;
        display: block;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .header-wrap {
        padding: 12px 0;
    }
    .site-header .logo-menu {
        flex: 0 1 100px;
    }
    .site-header .login-button {
        font-size: 13px;
    }
    .site-header .contact {
        padding: 10px 12px;
        height: 36px;
        font-size: 13px;
    }
    .mobmenu,
    .mobmenu:focus,
    .mobmenu:active,
    .mobmenu:visited {
        height: 45px;
    }
}

@media (max-width: 480px) {
    
}
@media (max-width: 400px) {
    
}